################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj
**/bin
*.pyc
**/packages
*.user
**/node_modules
**/env
**/.idea