{
    "branches": "master",
    "repositoryUrl": "https://github.com/SSI-Securities-Corporation/dotnet-fcdata.git",
    "debug": "false",
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/changelog",
        {
          "changelogFile": "CHANGELOG.md",
          "changelogTitle": "# FastConnect Data dotNet client Changelog"
        }
      ],
      [
        "@semantic-release/git",
        {
          "assets": [
            "CHANGELOG.md"
          ]
        }
      ],
      [
        "@semantic-release/github",
        {
          "assets": [
            {
              "path": "target/*.zip"
            }
          ]
        }
      ]
    ]
  }