<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="8.6.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.4.4" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="Unity" version="5.11.1" targetFramework="net45" />
</packages>